@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900;
}

a {
  @apply text-sky-700 hover:text-sky-800;
}
