# Dependencies
node_modules/
**/node_modules/

# Builds
/dist
/build
/.next
/out
**/dist/
**/build/

# Coverage & reports
/coverage
/playwright-report
/test-results
**/coverage/

# Generated
prisma/migrations/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor
.vscode/

# Misc
*.min.js
